<div id="home">
    <div id="intro">Meet People By Shared Interest</div>
    <form action="search" method="GET">
        <div id="searchbox">
            <input type="text" name="q" maxlength="20" id="find" placeholder="Search Your Interest">
            <input type="submit" id="searchbutt" value="">
        </div>
    </form>
    <div id="options">
        <% if session.key?(:uid) %>
            <a href="/profile/<%= session[:uid] %>">Profile</a>&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;<a href="/logout">Log out</a>
        <% else %>
            <a href="/signin">Login</a>&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;<a href="/signup">Sign Up</a>
        <% end %>
    </div>
</div>